__pycache__
.vscode
.pytest_cache

# Instances
results/data/CDP/*
results/data/GDP/*
results/data/RCDP/*
results/data/RGDP/*
!results/data/CDP/instance_list.txt
!results/data/GDP/instance_list.txt
!results/data/RCDP/instance_list.txt
!results/data/RGDP/instance_list.txt

# Save results
*.csv
!results/results.csv

# Ignore output figures for now
results/fig